@font-face {
    font-family: "SolaimanLipi";
    src: url("/assets/fonts/SolaimanLipi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "SolaimanLipi";
}

.logo {
    width: 14rem;
}

.page-wrapper .page-content {
    padding: 1rem 0 !important;
}

/* CSS Animated Glowing Gradient Border Effects */

.welcome-text {
    position: relative;
    width: 30rem;
    height: 2.3rem;
}

.welcome-text::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(
        from var(--a),
        #0f0,
        #ff0,
        #0ff,
        #f0f,
        #0ff
    );
    border-radius: 10px;
    animation: rotating 4s linear infinite;
}

.welcome-text::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(
        from var(--a),
        #0f0,
        #ff0,
        #0ff,
        #f0f,
        #0ff
    );
    border-radius: 10px;
    animation: rotating 4s linear infinite;
    filter: blur(10px);
    opacity: 0.75;
}

.welcome-text > h4 {
    font-family: "SolaimanLipi";
    color: #222;
    font-size: 1rem;
    padding: 5px 10px;
    position: absolute;
    inset: 4px;
    background: #fff;
    border-radius: 8px;
    z-index: 1;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotating {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

/* end CSS Animated Glowing Gradient Border Effects */

.horizontal-menu .navbar .navbar-content .logo-mini-wrapper .logo-mini {
    width: 155px !important;
    height: 38px !important;
}
